<main>
  <!-- =======================
  Menu item START -->
  <section class="pt-4">
    <div class="container">
      <div class="card rounded-3 border p-3 pb-2">
        <!-- Avatar and info START -->
        <div class="d-sm-flex align-items-center">
          <div class="avatar avatar-xl mb-2 mb-sm-0">
            <img
              class="avatar-img rounded-circle"
              src="assets/slouma.png"
              alt=""
            />
          </div>
          <h4 class="mb-2 mb-sm-0 ms-sm-3">
            <span class="fw-light">Bonjour</span>  Madame Linda
          </h4>

          <a

            class="btn btn-sm btn-primary-soft mb-0 ms-auto flex-shrink-0"
            ><i class="bi bi-plus-lg fa-fw me-2"></i>TWIN</a
          >
        </div>
        <p class="mt-3">Voici un simple plan à suivre pour présenter le concept du routage en React ce vendredi avec Twin 5. C'est une première ébauche qui pourra être ajustée selon vos retours et suggestions. Si vous souhaitez avoir le contenu détaillé, je peux également le fournir. N’hésitez pas à me faire part de vos remarques pour l’améliorer</p>
        <!-- Avatar and info START -->

        <!-- Responsive navbar toggler -->
        <button
          class="btn btn-primary w-100 d-block d-xl-none mt-2"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#dashboardMenu"
          aria-controls="dashboardMenu"
        >
          <i class="bi bi-list"></i> Dashboard Menu
        </button>

        <!-- Nav links START -->

        <!-- Nav links END -->
      </div>
    </div>
  </section>
  <!-- =======================
  Menu item END -->

  <!-- =======================
  Content START -->
  <section class="pt-0">
    <div class="container vstack gap-4">
      <!-- Title START -->
      <div class="row">
        <div class="col-12">
          <h1 class="fs-4 mb-0">
            <i class="bi bi-gear fa-fw me-1"></i>Le Routage
          </h1>
        </div>
      </div>
      <!-- Title END -->

      <!-- Tabs START -->
      <div class="row g-4 p-3 mb-3">
        <div class="col-12">
          <div class="bg-light pb-0 px-2 px-lg-0 rounded-top">
            <ul
              class="nav nav-tabs nav-bottom-line border-0 nav-justified flex-nowrap overflow-auto d-flex"
              role="tablist"
              style="white-space: nowrap"
            >
              <li class="nav-item">
                <a class="nav-link mb-0 active" data-bs-toggle="tab" href="#tab-1">
                  <i class="fas fa-book-open fa-fw me-2"></i> Introduction
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-2">
                  <i class="fas fa-bell fa-fw me-2"></i> Notification Settings
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-3">
                  <i class="fas fa-directions fa-fw me-2"></i> Le Hook useNavigate
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-4">
                  <i class="fas fa-route fa-fw me-2"></i> Routes dynamiques et paramètres
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-5">
                  <i class="fas fa-exclamation-triangle fa-fw me-2"></i> Redirections et Gestion des Erreurs
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-6">
                  <i class="fas fa-layer-group fa-fw me-2"></i> Routage imbriqué (Nested Routing)
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-7">
                  <i class="fas fa-spinner fa-fw me-2"></i> Lazy Loading et Protection des routes
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link mb-0" data-bs-toggle="tab" href="#tab-8">
                  <i class="fas fa-search fa-fw me-2"></i> useSearchParams et useLocation
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- Tabs END -->

      <!-- Tabs Content START -->
      <div class="row g-4">
        <div class="col-12">
          <div class="tab-content">
            <!-- Tab content 1 START -->
            <div class="tab-pane show active" id="tab-1">
              <div class="row g-4">
                <!-- Edit profile START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">Introduction :</h5>
                    </div>
                    <div class="card-body">
                      Bonjour à tous, Aujourd'hui, nous allons plonger dans un
                      aspect fondamental du développement d'applications
                      modernes en React : le routage. Vous allez découvrir
                      comment transformer votre application en une véritable SPA
                      (Single Page Application)

                    <p class= >
                      j'aimerais bien rappeler alors Qu’est-ce qu’une SPA ?
                    </p>
                    <p>
                      Dans une application web traditionnelle, chaque fois que
                      vous changez de page, le navigateur recharge entièrement
                      le document HTML depuis le serveur. Ce processus peut être
                      lent et créer une expérience utilisateur peu fluide. En
                      revanche, une SPA (Single Page Application) charge
                      initialement une seule page HTML et met à jour
                      dynamiquement son contenu en fonction des interactions de
                      l'utilisateur, sans nécessiter de rechargement complet.

                    </p>
                    <p>👉 C’est ici qu’intervient <strong>le routage !</strong> Il permet d’afficher différents composants en fonction de l’URL, sans recharger la page.</p>

<img src="/assets/routes.png" class="img-fluid w-100 my-2" alt="">
<p class="mt-4">Route c'es comme son nom l'indique c'est partir vers une destination exacte </p>
<h4>🧐 Une métaphore pour mieux comprendre
  Imaginez que vous êtes dans un café ☕️</h4>

  <ul>
    <li>
      Dans un site classique, à chaque commande, le serveur vous demande de quitter la table et de revenir pour être servi. 🏃‍♂️➡️🏃‍♀️
    </li>
    <li>

      Dans une SPA, le serveur reste à votre table et vous apporte directement votre commande. Plus rapide et plus fluide !
    </li>
  </ul>






                  </div> </div>
                </div>
                <!-- Edit profile END -->

                <!-- Update Email START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">Comment fonctionne le routage en React alors?</h5>

                    </div>
                   <div class="card-body">
                    <p>
                      Dans l’écosystème React, la star du routage est la bibliothèque <strong> React Router </strong>
                    </p>
                    <p>Elle nous permet de définir des routes et d’afficher les composants correspondants selon l’URL actuelle.</p>

                    <h4 class="text-danger">Installation et configuration React Router</h4>
                    afin d'installer react router en utilise la commande suivane :  <strong> npm install react-router-dom
                    </strong>
                    <p class="text-danger">NB : Vous pouvez utliser votre gestionnaire de packge preféré comme yarn ...</p>
                   <img src="/assets/routeBib.png" class="img-fluid w-50" alt="">



                   </div>
                  </div>
                </div>

                <!-- Update Password END -->
              </div>
            </div>
            <!-- Tab content 1 END -->

            <!-- Tab content 2 START -->
            <div class="tab-pane" id="tab-2">
              <div class="card border mb-4">
                <!-- Card header -->
                <div class="card-header bg-transparent border-bottom">
                  <h5 class="card-header-title">Configuration de React Router</h5>
                  <p class="mb-0">
                    Une fois installé, la première étape est de configurer notre application pour utiliser le routage.
                  </p>
                </div>

                <div class="card-body">
                  Dans votre fichier principal  App.js , encapsulez votre application avec le composant <strong>BrowserRouter </strong>

                  <img src="/assets/browser.png" class="img-fluid w-75 my-2" alt="">
                  <h6>👉 On peut voir  BrowserRouter  comme un passeport 🛂 qui permet à l’application de voyager entre les différentes routes !</h6>



                    Dans React Router  nous utilisons les composants <strong>Routes</strong> et <strong>Route</strong> pour définir nos chemins.


                    <ul class="mt-2">
                      <li>
                        <strong>Route</strong>
                        Fonction : Le composant <strong>Route</strong> définit une route spécifique dans votre application. Il associe une URL à un composant React.

                      </li>

                      <li>
                        Syntaxe : Vous spécifiez la propriété path pour définir l'URL et utilisez la propriété element pour indiquer quel composant doit être rendu lorsque cette URL est correspondant.
                      </li>
                   <li>
                    <strong>Routes</strong>
                    Fonction : Le composant <strong>Routes</strong> est un conteneur pour plusieurs <strong>Route</strong>. Il permet à React Router de gérer les routes imbriquées et de rendre le bon composant basé sur l'URL actuelle.
                   </li>
                        <li> 	Utilisation : Vous encapsulez plusieurs <strong>Route</strong> à l'intérieur de <strong>Routes</strong>. Cela permet de simplifier la gestion des routes et de s'assurer que seule la première route correspondante est rendue</li>

                      </ul>

<img src="/assets/routesContainer.png" class="img-fluid w-100" alt="">


<h4 class="text-center text-danger">
  Navigation dans l'application
</h4>
<p>
 Pour permettre aux utilisateurs de naviguer entre ces pages sans recharger l'application, nous utilisons les composants <strong>Link ou NavLink </strong>
</p>

<ul>
  <li>	Le composant  Link  permet de créer des liens qui modifient l'URL et rendent le composant associé à cette route.  Link : Remplace les balises   pour une navigation sans rechargement.

    <img src="/assets/link.png" class="img-fluid w-100" alt="">
  </li>




  <li>	Le NavLink  est similaire à Link  mais offre l'avantage d'ajouter automatiquement une classe active lorsque le lien correspond à la route en cours. Cela est particulièrement utile pour le style et l'indication de la page active.
    <img src="/assets/NavLink.png" class="img-fluid w-100" alt="">
  </li>
<li><h4 class="text-danger">il ne faux pas oublier d'importer les deux composant de la biliothéque du react router   <img src="/assets/image.png" class="img-fluid w-100" alt=""> </h4></li>

</ul>

<div class="row mt-5">
  <div class="col-12 col-md-6"><h6 class="text-info">Ceci avec l'utilisation de Link (pas de style appliqué afin d'indiquer la route activée)</h6>
    <img src="/assets/nvll.png" class="img-fluid w-100" alt="">
  </div>
  <div class="col-12 col-md-6"><h6 class="text-info">Ceci avec l'utilisation de NavLink (un  style est appliqué afin d'indiquer la route activée)</h6>
    <img src="/assets/nvl.png" class="img-fluid w-100" alt="">
  </div>
</div>

<p class="mt-3"> 👉 NavLink met en évidence le lien actif, tandis que Link est un simple lien de navigation.
  ces deux composants sont l'equivalent de la balise lien en html
</p>




                </div>


              </div>
            </div>
            <!-- Tab content 2 END -->

            <!-- Tab content 3 START -->
            <div class="tab-pane" id="tab-3">
              <div class="row g-4">
                <!-- Security settings START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">Navigation Programmée : Le Hook useNavigate</h5>
                    </div>
                    <div class="card-body">
                     <p>
                      Il arrive souvent que nous devions rediriger l'utilisateur après une action spécifique, comme la soumission d'un formulaire ou une opération d'authentification. Pour cela, React Router nous offre le hook useNavigate.
                     </p>
                     <p>
                      Lors de la dernière séance, nous avons réalisé ensemble un atelier dans lequel vous avez affiché une liste d'événements en utilisant un composant Events pour la liste et un composant Event qui reçoit un événement en tant que props.

Aujourd’hui, nous allons poursuivre avec cet exemple en ajoutant un nouveau composant AjouterEvent, qui présentera un formulaire permettant d’ajouter un événement. Lors de la soumission du formulaire, les valeurs saisies seront récupérées, et après une action et une condition, l’utilisateur sera redirigé vers la page affichant la liste des événements, gérée par le composant Events.

( Enfin, je vous présenterai également un exemple d'authentification dans une application React, illustrant la communication et la navigation d’un administrateur comme un deusieme exemple pour mieux comprendre )
                     </p>
                     <p>Ajouter un composant ajouter evenement et configurer la route </p>
                     <img src="/assets/g.png" class="img-fluid w-50" alt="">
                    <img src="/assets/image1.png" class="img-fluid w-100" alt="">

<p class="mt-3">
  aprés avoir mettre en place le formulaire et recupérer les donneés saisie nous allons poser la question Comment maintenant naviguer vers la liste des evenements ?
  certains etudiant vont répondre par l'utilisation des deux composant Link et NavLink mais ce n'est pas le cas ! non?

</p>
<h6>Implementation de use navigate </h6>
La variable navigate est créée en utilisant le hook useNavigate de react-router-dom.

👉 Cela permet d’effectuer une navigation programmée dans l’application React, par exemple pour rediriger l’utilisateur vers une autre page après une action
<img src="/assets/navigate.png" class="img-fluid w-100" alt="">
Utiliser la variable navigate dans la fonction handleSubmit()
<img src="/assets/handleSubmit.png" class="img-fluid w-100" alt="">

faire l'appel a la fonction handleSubmit() dans le button ajouter ET FAIRE  le test

<img src="/assets/Adde.png" class="img-fluid w-100" alt="">

La navigation est effectué suite a une action et le changement de l'url est bien remarqué et le contenu de la page est changé avec la liste des evenements
<img src="/assets/newListe.png" class="img-fluid w-100" alt="">
                    </div>
                  </div>
                </div>


              </div>
            </div>



            <div class="tab-pane" id="tab-4">
              <div class="row g-4">
                <!-- Security settings START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">Routes dynamiques et paramètres</h5>
                    </div>
                    <div class="card-body">
                     <p>
                      Une des forces de React Router réside dans la possibilité de créer des routes dynamiques grâce aux paramètres.
                      Par exemple, pour afficher un profil utilisateur dont l'ID est passé dans l'URL, nous définissons la route suivante :

                     </p>
                     <p>
                      Prenons l'exemple d'un événement pour expliquer ce concept. Imaginons que vous ayez une liste d'événements, et pour chaque événement, vous voulez afficher son prix su
                     </p>
                     <p>Ajouter un composant ajouter evenement et configurer la route </p>
                     <h5>Étape 1 : Créer un composant EventPrice et cinfigurer une route dynamique </h5>
                     <img src="/assets/evP.png" class="img-fluid w-50" alt="">
                     <h5>Créer un bouton dans le composant  Event</h5>
                    <img src="/assets/ev.png" class="img-fluid w-100" alt="">
                    <p>Je vais expliquer que le prix de l'événement sera passé dans l'URL, et la route dynamique affichera la page avec ce prix dans le composant EventPrice</p>

<p class="mt-3">
  Dans le composant EventPrice je vais poser la question comment nous pouvons recupérer la valeur du price passé dans l'url?
  citer des exemple et faire analogie avec angular.
  <img src="/assets/p.png" class="img-fluid w-100" alt="">

</p>

  <ul class="mt-3">
    <li> <strong> useParams()</strong> permet de récupérer les paramètres d'URL dans le composant cible</li>
    <li>Route avec un paramètre dynamique permet de créer une URL dynamique, où la valeur peut être récupérée et utilisée dans le composant</li>
  <li>En configurant la route comme "/event/by/:price", le prix de chaque événement peut être récupéré et affiché sur une page dédiée.</li>
  </ul>
<p class="my-2"> utiliser useEffect pour afficher dans la console le paramètre price et explorer le cas où l'étudiant reçoit un paramètre dans l'URL. À partir de ce paramètre, l'étudiant pourra effectuer un traitement, comme par exemple effectuer un appel à une API pour récupérer des données supplémentaires. </p>
Resultat 👉<img src="/assets/pp.png" class="img-fluid w-100" alt="">

<h6 class="text-warning"> Exercice à faire par un etudiant saisie aléatoirement pour faire un autre exemple en affichant cette foi le nombre des participants</h6>

                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="tab-pane" id="tab-5">
              <div class="row g-4">
                <!-- Security settings START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">Redirections et Gestion des Erreurs en React Router</h5>
                    </div>
                    <div class="card-body">
                     <p>
                      Imaginons que vous ayez une application e-commerce et que, lors d'une maintenance, vous ayez décidé de changer l'URL de la page de connexion. L'ancienne URL était /login, mais la nouvelle version de l'application utilise maintenant /signin. Cependant, certains de vos clients ont l'habitude de taper directement /login dans la barre d'URL, ce qui pourrait les empêcher d'accéder à la page de connexion après le changement.

                      Dans ce cas, vous ne voulez pas déranger vos utilisateurs et vous souhaitez garantir qu'ils soient redirigés vers la nouvelle page sans avoir à chercher le nouvel URL. Heureusement, React Router offre une solution simple et élégante pour gérer ce type de situation.

                     </p>
                     <h6 class="text-success">
                      Solution avec React Router en utilisant " le composant fameux Navigate "
                     </h6>
                     <p>

dans dans le composant app.jsx vous allez garder votre route qui definit la page login mais avec une petite changement

<img src="/assets/replace.png" class="img-fluid w-100" alt="">
                     </p>



<ul>
  <li>
<strong>to :</strong>     Cette propriété spécifie la nouvelle route vers laquelle vous souhaitez rediriger l'utilisateur. Dans notre cas, c'est /signin.
  </li>
  <li>
   <strong>replace :</strong>  Lorsque cette propriété est définie, elle remplace l'entrée actuelle dans l'historique du navigateur. Cela signifie que l'utilisateur ne pourra pas revenir à l'ancienne route (/login) en utilisant le bouton "Précédent" de son navigateur. La redirection devient une étape invisible dans l'historique.
  </li>

</ul>

                     <h6>Si un client accède à l'ancienne route /login, il sera automatiquement redirigé vers la nouvelle route /signin sans avoir à chercher l'URL correcte. Cela garantit une expérience utilisateur fluide et confortable, sans perturber les habitudes des utilisateurs, même après un changement d'URL dans votre application. </h6>

                    <img src="/assets/login.png" class="img-fluid w-100" alt="">





<h5 class="text-danger">Error page ou bien redirection vers page not found</h5>

<p class="my-2">

  etape 1 : je vais crrer une page Error page
  <img src="/assets/errr.png" class="img-fluid w-100" alt="">
</p>
<p class="my-2">

  etape 2 : je vais configurer la route qui nous homéne vers --> une page Error page
  <img src="/assets/c.png" class="img-fluid w-100" alt="">
</p>


                    <p class="mt-3">
  Dans le composant EventPrice je vais poser la question comment nous pouvons recupérer la valeur du price passé dans l'url?
  citer des exemple et faire analogie avec angular.
  <img src="/assets/p.png" class="img-fluid w-100" alt="">

</p>
<p class="my-3">
 Faire tester en tapant des url aléatoire qui  n'existe pas
  <img src="/assets/testtini.png" class="img-fluid w-100" alt="">

</p>


                    </div>
                  </div>
                </div>


              </div>
            </div>



            <div class="tab-pane" id="tab-6">
              <div class="row g-4">
                <!-- Security settings START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">routage imbriqué (Nested Routing)</h5>
                    </div>
                    <div class="card-body">
                     <p>
                      Nous allons aborder le routage imbriqué (Nested Routing) en deux volets. Le premier volet concerne la définition de routes imbriquées simples, où nous organisons des sous-routes à l'intérieur de routes principales pour une structure logique de navigation. Le deuxième volet traite d'un cas particulier, comme les tableaux de bord d'administrateur, où les sous-routes sont souvent plus complexes, avec des composants spécifiques qui varient selon l'onglet ou la section du tableau de bord.

                     </p>
                     <h6 class="text-success">
                     Configuration d'un simple exemple
                     <img src="/assets/nested.png" class="img-fluid w-100 my-3" alt="">
                     </h6>

<ul>
<li>Route principale : Le composant <strong>Route</strong> principal contient plusieurs sous-routes. Chaque sous-route est définie avec une propriété path, qui détermine l'URL à laquelle la route est associée.</li>
<li>Routes imbriquées : sous-routes pour afficher différentes sections comme ajouter-evenement ...  </li>

</ul>
<p class="my-3">
  Tester les routes :
</p>
<img src="/assets/a.png" class="img-fluid w-100 my-3" alt="">
<img src="/assets/ee.png" class="img-fluid w-100 my-3" alt="">
<h6 class="text-success"> Cas des dashboard </h6>
<p class="my-3">
  Dans le cas d'un tableau de bord pour un administrateur, il est courant d'avoir une barre latérale (sidebar) et une barre de navigation (navbar) fixes, qui restent constantes tout au long de la navigation. Ce qui change en fonction des sous-routes, c'est le contenu principal affiché dans la zone centrale, permettant ainsi à l'utilisateur de naviguer entre différentes sections (comme "utilisateurs", "statistiques", "paramètres") sans recharger ou dupliquer toute la structure de la page.

Il est important de noter qu'il ne faut pas copier le code complet du tableau de bord à chaque fois que l'on veut afficher une nouvelle section. Beaucoup d'étudiants commettent l'erreur de copier toute la structure de la page à chaque ajout de nouvelle section, ce qui est totalement incorrect et inefficace. Au lieu de cela, il faut définir des routes imbriquées où le sidebar et le navbar sont partagés, et seules les parties spécifiques du contenu changent en fonction de la route sélectionnée. Cela permet de garder une structure propre, réutilisable et facilement maintenable.
</p>
<p class="my-2">
  étape 1 : je vais crrer une page dit admin-layout dont laquelle je vais mettre une dashboard administrateur.<br>
  étapes 2 : configurer quelque routes <br>

</p>
<img src="/assets/admin1.png" class="img-fluid w-100 my-3" alt="">
<p class="mb-3">
  étape 3 : Comment afficher les composant AjouterEvent et Events dans le dashboard d'administrateur ?
</p>

<h4 class="text-success">
  Utilisation de du composant Outlet
</h4>
<img src="/assets/outlet.png" class="img-fluid w-100 my-3" alt="">
<p class="my-2">
  Le composant Outlet  est utilisé pour rendre des routes imbriquées. Il représente un espace réservé dans votre composant, où les composants enfants correspondants à la route actuelle seront affichés.<br>
  Dans un tableau de bord utilisateur, vous pouvez avoir plusieurs sections (comme un profil, des paramètres, des rapports, etc.) qui nécessitent leur propre contenu tout en partageant une mise en page générale (comme une barre de navigation ou un menu latéral).<br>
  Avantage : Réutilisation de la mise en page,Navigation fluide,Modularité
</p>



<ul>
  <li>
<strong>to :</strong>     Cette propriété spécifie la nouvelle route vers laquelle vous souhaitez rediriger l'utilisateur. Dans notre cas, c'est /signin.
  </li>
  <li>
   <strong>replace :</strong>  Lorsque cette propriété est définie, elle remplace l'entrée actuelle dans l'historique du navigateur. Cela signifie que l'utilisateur ne pourra pas revenir à l'ancienne route (/login) en utilisant le bouton "Précédent" de son navigateur. La redirection devient une étape invisible dans l'historique.
  </li>

</ul>




                    </div>
                  </div>
                </div>


              </div>
            </div>




            <div class="tab-pane" id="tab-7">
              <div class="row g-4">
                <!-- Security settings START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title">lazy loading en React</h5>
                    </div>
                    <div class="card-body">
                     <p>
                      Le Lazy Loading en React est une technique permettant de charger des composants uniquement lorsque cela est nécessaire, plutôt que de tout charger au démarrage de l’application. Cela permet d'optimiser les performances, en réduisant le temps de chargement initial et en améliorant l'expérience utilisateur.

                     </p>
                     <h6 class="text-success">
                     Configuration d'un simple exemple en utilisant les compsant fournie par la biliothéque react router
                     <img src="/assets/configLazy.png" class="img-fluid w-100 my-3" alt="">
                     <img src="/assets/lazy.png" class="img-fluid w-100 my-3" alt="">
                     </h6>

<ul>
<li>Route principale : Le composant <strong>Route</strong> Le composant Suspense est une fonctionnalité de React qui permet de gérer l'affichage d'un composant en attente de chargement.</li>
<li> Il est obligatoire lorsqu'on utilise React.lazy() pour charger des composants de manière asynchrone.</li>
<li> L'attribut fallback définit ce qui s'affiche en attendant que le composant soit chargé.</li>
<li> Ici,<strong>fallback</strong>   signifie qu'un simple message "Chargement..." s'affichera tant que le composant Home n'est pas encore chargé.</li>

</ul>
<h6 class="text-success my-3">

  Route Guards
</h6>
<p class="my-2">
  Les Route Guards en React Router permettent de protéger l'accès à certaines pages en fonction de conditions spécifiques, comme l'authentification d'un utilisateur. Avant d'afficher une route, un garde vérifie si l'utilisateur a les permissions nécessaires. Si ce n'est pas le cas, il est redirigé vers une autre page, comme la page de connexion. Cela garantit une navigation sécurisée et contrôlée dans l'application.
</p>

<ul class="my-2">
  <li>étape 1 : création d'un  composant PrivateRoute et un composant IsNoteAuthentificated</li>
  <img src="/assets/private.png" class="img-fluid w-100 my-3" alt="">
  <img src="/assets/isnot.png" class="img-fluid w-100 my-3" alt="">


  <li>étape 2 : Dans App.jsx déclarer une state comme le suivant :  <strong>const [isAuthenticated, setIsAuthenticated] = useState(false) </strong> </li>
  <li>étape 3 : configurer les route d'administrateur et expliquer le concept de la protection des routes </li>
  <img src="/assets/cc.png" class="img-fluid w-100 my-3" alt="">



  <li>étape 4 : Faire exemple de test et conclure que la navigation vers admin dashboard ne peux pas etre effectué  </li>
  <img src="/assets/auth.png" class="img-fluid w-100 my-3" alt="">

  <li>étape 5 : dans le route de login nous allons faire une modification du state :   </li>
  <img src="/assets/loged.png" class="img-fluid w-100 my-3" alt="">

  <li>étape 6 : Dans le composant Login, nous allons recevoir une fonction passée en props et l'exécuter lorsque l'utilisateur clique sur le bouton Login grâce à l'événement onClick. Cela permet de déclencher une action spécifique définie dans le composant parent, comme l'authentification de l'utilisateur  </li>

  <img src="/assets/loginBtn.png" class="img-fluid w-100 my-3" alt="">
  <img src="/assets/l.png" class="img-fluid w-100 my-3" alt="">
<li>etape 6 : Faire le test
  <img src="/assets/login.png" class="img-fluid w-100 my-3" alt="">
  <img src="/assets/heloo.png" class="img-fluid w-100 my-3" alt="">
</li>
</ul>






                    </div>
                  </div>
                </div>


              </div>
            </div>

            <div class="tab-pane" id="tab-8">
              <div class="row g-4">
                <!-- Security settings START -->
                <div class="col-12">
                  <div class="card border">
                    <div class="card-header border-bottom">
                      <h5 class="card-header-title"> useSearchParams et useLocation</h5>
                    </div>
                    <div class="card-body">
                     <p>
                      Les hooks useLocation et useSearchParams de React Router permettent de gérer l'URL dans une application React : useLocation récupère les informations sur l'URL actuelle, tandis que useSearchParams permet de lire et modifier les paramètres de requête.

                     </p>
                     <h6 class="text-success">
                      useSearchParams && UseLocation de la biliothéque react router

                     </h6>

<ul>
<!-- <li>étape 1 : Ajouter un composant dit EventListe et faire une configuration d'une nouvelle route
  <img src="/assets/ax.png" class="img-fluid w-100 my-3" alt="">
  <img src="/assets/ax.png" class="img-fluid w-100 my-3" alt="">
</li> -->
<li> Dans le composant Events nous allons importer useSearchParams a partir du biliothéque react router.</li>
<li>expliqué l'utilité de useSearchParams : elle est utilisé pour lire et modifier les paramètres de recherche dans l'URL.</li>
<li>query récupère la valeur du paramètre q dans l’URL (ou une chaîne vide si q n’existe pas).</li>
<li>Filtrage : filteredEvents est un tableau qui contient uniquement les événements dont le name contient la valeur de query.</li>
<li>Création du fonction handleSearchChange : c'est une fonction qui met à jour le paramètre q dans l’URL en fonction de la saisie de l’utilisateur dans le champ de recherche.</li>
<li>Ajouter input pour saisir un titre avec lequel nous allons rechercher un événement</li>


<img src="/assets/merde.png" class="img-fluid w-100 my-3" alt="">

<li>Tester ce que nous avons fait : (Observation du changement de l'url, changement de contenue de la page au niveau des listes et expliquer le concept)</li>
<img src="/assets/11.png" class="img-fluid w-100 my-3" alt="">
</ul>
<h6 class="text-success my-3">
useLocation()
</h6>
<p class="my-2">
  Dans le meme compsant,nous allons importer le useLocation de la biliothéque react router - déclarer une variable location qui nous permet de récupérer des informationssur l'url actuelle

  <img src="/assets/location.png" class="img-fluid w-100 my-3" alt="">


</p>

<ul class="my-2">
  <li>Résultat </li>
  <img src="/assets/22.png" class="img-fluid w-100 my-3" alt="">


</ul>

<h6 class="text info">
  Exemple 2 : Important
</h6>
<p class="text-justify my-2">
  Exemple 2 :  nous mettons en place une navigation entre deux composants : EventListe et EventDetails, en utilisant useLocation et URLSearchParams pour transmettre et récupérer des informations via l'URL.

  Le composant EventListe affiche une liste d'événements à partir d'un fichier JSON et permet à l'utilisateur de cliquer sur un événement pour voir ses détails. Lorsqu'un utilisateur clique sur "Voir Détails", les informations de l'événement (nom, prix, nombre de tickets, etc.) sont ajoutées sous forme de paramètres à l'URL et la navigation est effectuée avec navigate().

  Dans EventDetails, nous utilisons useLocation pour récupérer l'URL actuelle et URLSearchParams pour extraire les données de l'événement depuis les paramètres de l'URL. Ces informations sont ensuite affichées dans une carte détaillée.

  Ce concept permet de transmettre des données entre pages sans utiliser de state global ou de context, rendant l'application plus légère et facilement partageable en conservant les informations dans l'URL.
</p>
<ul class="my-2">
  <li>Composant EventListe
  <img src="/assets/eventListe.png" class="img-fluid w-100 my-3" alt="">

</li>

<li>Composant EventDetails
  <img src="/assets/EventDetails.png" class="img-fluid w-100 my-3" alt="">

</li>
<li>Résultat :
  <img src="/assets/33.png" class="img-fluid w-100 my-3" alt="">
</li>
</ul>

<p class="p-2 mt-3">
  Explication :
  Dans notre application, les données des événements sont transmises via l'URL en utilisant des query parameters. Lorsqu'un utilisateur clique sur "Voir Détails" dans EventListe, nous construisons une URL contenant les informations de l'événement sous forme de paramètres (name, price, nbTickets, etc.). Par exemple, l'URL générée ressemble à :
  <strong>http://localhost:5173/event-details?name=Festival+international+de+Carthage&price=30&nbTickets=10&nbParticipants=10&like=false
  </strong>
  Dans EventDetails, nous utilisons useLocation pour récupérer l'URL actuelle et URLSearchParams pour extraire les valeurs des paramètres. Ces données sont ensuite stockées dans un objet et affichées dynamiquement dans l'interface utilisateur. Cette approche permet de naviguer entre les pages tout en conservant les informations de l'événement dans l'URL, ce qui facilite le partage de liens et améliore l'expérience utilisateur.
</p>



                    </div>
                  </div>
                </div>


              </div>
            </div>



          </div>
        </div>
      </div>
      <!-- Tabs Content END -->
    </div>
  </section>
  <!-- =======================
  Content END -->
</main>
